.main-content {
	padding-top: 25px;
}

.final-buttons {
	margin-top: 30px;
}

.btn-upload {
	margin-top: 15px;
	margin-bottom: 15px;
}

@media screen and (max-width: 720px) {
	.textarea {
		display: none;
	}
}

input[type="file"] {
    display: none;
}

.custom-label {
	margin-top: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
